body{
	margin: 20px;
	font-family: 'Play', serif;
	padding-left: 30px;
	padding-right: 30px;
}

header{
	background-color: #C9D7E5;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 5px;
}

header, h1{
	font-size: 50px;
}

header img{
	border-radius: 150px;
	width: 300px;
}

main{
	max-width 800px;
	margin: 0 auto;
	padding: 20 300px 30px 20;
}

h2{
	font-size: 30px;
	background-color: #C9D7E5;
	text-align: center;
	padding-bottom: 0px;
}

h3{
	font-size: 30px;
	padding-bottom: 0px;
}

p{
	font-size: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

ul {   
    padding-left: 20px;
    font-size: 20px;
    list-style-position: outside;
    padding-right: 50px;
}

a{
	color: black;

}

a:hover{
	color: #C9D7E5;
}

footer{
	font-size: 10px;
	background-color: #C9D7E5;
	text-align: center;
	padding: 40px;
}